/* Category modal */
.icon.create-post {
  font-size: 2em!important;
}
.ui.small.modal.calendar-modal {
  & > .header {
  	text-align: center;
  }

  & > .content {
    background-color: #f2f2f2;
  }

  textarea {
    width: 100%;
    min-height: 100px;
    border: none;
    padding: 10px;
  }

  .wide.column.center.aligned {
    margin: 0!important;
  }

  .image:not(.no-padding, img) {
  	margin-top: 20px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border: none;
  	border-radius: 5px;
  	padding: 100px;
  	cursor: pointer;
  	background: white;
  }

  .count-view {
    width: 100%;
    text-align: right;
  }

  .addcategory-view {
  	display: flex;
  	align-items: center;
    justify-content: space-between;
  }

  .search-input {
    margin-top: 1em;
    padding: 0;
    height: 40px;
    box-shadow: none;
    &::before {
      top: 5px;
      left: 8px;
    }
  }

  .category-filter {
    border: 1px solid #e2e2e2;
    margin: 1em 0.2em;
    .column {
      margin-bottom: 0.5em;
    }
  }

  .add-label {
  	background-color: transparent;
  	background-image: none;
  	color: black;
  	font-size: 18px;
  	font-weight: normal;
  	text-shadow: none
  }

  .asset.search {
    min-height: 20vh;
    max-height: 50vh;
    overflow-y: scroll;
  }
  .with-checkbox {
    padding-left: 10px;
  }
}
