.post-item {
  position: relative;
  min-height: 100px;
  .post-date {
    position: absolute;
    left: -160px;
    top: 0;
    width: 120px;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    div {
      margin: 5px 0;
    }
  }
  .empty-item {
    height: 60px;
    border: none!important;
    background: repeating-linear-gradient(
      45deg,
      #FCFDFF,
      #FCFDFF 8px,
      #E8E9EB 8px,
      #E8E9EB 10px
    );
    &:hover {
      box-shadow: none!important;
    }
    .nothing-item-content {
      width: 100%;
      display: flex;
      align-items: center;
      .nothing-empty {
        min-width: 130px;
        height: 60px;
        display: block;
      }
      .nothing-text {
        width: 50%;
        font-weight: bold;
        color: #2C2F35;
        padding-top: 8px;
      }
      .nothing-actions {
        width: 50%;
        text-align: right;
        padding-right: 1em;
      }
    }
  }
  .post-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: 10px 0;
    &:hover {
      box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    }

    .post-item-datetime {
      width: 120px;
      text-align: center;
      font-size: 1.4em;
      font-weight: 900;
      img {
        width: 24px;
      }
      .date-time-label {
        margin-top: 0.75em;
      }
    }
    .post-item-content {
      width: 100%;
      .ui.attached.menu {
        height: 30px;
        .item {
          width: 33.333%;
          text-align: center;
          font-size: 1.2em;
          padding: 10px;
          border-top-width: 0;
          border-radius: 0!important;
          border-left-color: #d4d4d5;
          &.active {
            border-right-color: transparent;
          }
          .icon {
            font-size: 1.25rem;
            &.twitter {
              color: #1DADEB;
            }
            &.facebook {
              color: #CECECE;
            }
            &.instagram {
              color: #CECECE;
            }
          }
        }
      }
      .post-item-content-wrapper, .post-item-pane {
        &.active {
          background-color: #FFFFFF;
        }
        .post-item-media {
          padding: 1em;
          border-top: 1px solid #D6D6D6;
          border-radius: 0 0 4px 4px;
          display: none;
          &.active {
            display: block;
          }
          .image-grid {
            display: flex!important;
            align-items: center;
            img.ui.image {
              max-width: 10em;
            }
            &.col-1 {
              .content-media {
                max-width: 160px;
                margin: 0 0.5em 0 0;
              }
            }
            &.col-2 {
              .content-media {
                width: 47%;
                height: 100%;
                max-height: 220px;
                margin: 0 0.5em 0.5em 0;
              }
            }
            &.col-3, &.col-4, &.col-5, &.col-6, &.col-7, &.col-8 {
              .content-media {
                width: 30%;
                height: 100%;
                max-height: 150px;
                margin: 0 0.5em 0.5em 0;
              }
            }
          }
          .image-action.edit {
            font-size: 2em;
            margin: 0 8px;
            color: #C4C4C4;
            cursor: pointer;
          }
          .content-media {
            position: relative;
            margin: 0 0.5em 0.5em 0;
            img {
              border-radius: 0.2em;
            }
            &:hover {
              .image-action {
                display: block;
              }
            }
            .image-action {
              display: none;
              position: absolute;
              top: 0.5em;
              right: 0.5em;
              width: 1.7em;
              height: 1.7em;
              padding: 0.12em 0.25em;
              background-color: rgba(255,255,255,1);
              border-radius: 500em;
              cursor: pointer;
              &:hover {
                background-color: rgba(255,255,255,0.5);
              }
            }
            i.icon {
              font-size: 1em;
              margin: 0;
              overflow: hidden;
            }
          }
        }
      }
      .post-item-content-wrapper {
        &.active {
          border: 1px solid #D6D6D6;
          border-radius: 4px;
          background-color: #FFFFFF;
          box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
        }
      }
      .post-item-pane {
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-bottom-left-radius: 0;
        padding: 2em 1em 1em 2em;
        .post-item-media.normal-state {
          padding: 0;
          padding-top: 1em;
          border: none;
        }
        &.selected {
          padding-left: 1em;
          padding-top: 1em;
        }
        .post-item-body {
          font-size: 1em;
        }
      }
      .post-item-actions {
        display: flex;
        align-items: center;
        margin-top: 2em;
        position: relative;
        .post-short-stat {
          width: 15em;
          color: #c8c8c8;
          span {
            margin-right: 14px;
            font-size: 0.85rem;
            font-weight: 200;
            color: #000000;
            .icon {
              font-size: 0.85rem;
              margin-right: 7px;
              &.heart {
                color: #E8363B;
              }
              &.retweet {
                color: #3B7ADB;
              }
              &.comment {
                color: #939191;
              }
            }
          }
        }
        .actions {
          width: 100%;
          text-align: right;
          & > * {
            display: inline-block;
          }
          .status {
            margin-right: 8px;
            font-size: 0.9em;
          }
        }
        .category-button {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.ui.grid>.row.no-content {
  padding: 1em!important;
}
